.bodyFavorite {
  background: linear-gradient(123.66deg, #003BE5 12.08%, #00D5E2 86.52%);
  height: 800px;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 1800px;
}

.divPageFavorites {
  background: #EFF3F9;
  height: 486px;
  left: 250px;
  position: absolute;
  top: 234px;
  width: 1530px;
}

.faixasFavorites {
  display: flex;
  flex-direction: column;
  left: 180px;
  position: relative;
  top: 10px;
}

.textoFavoritas {
  color: #FFFFFF;
  font-family: 'Epilogue';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  left: 680px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 100px;
  width: 200px;
}
