.bodyNotFound {
  background: linear-gradient(123.66deg, #003BE5 12.08%, #00D5E2 86.52%);
  height: 800px;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 1500px;
}

.NotFound {
  /* color: white; */
  left: 780px;
  position: absolute;
  top: 150px;
}

.imgNotFound {
  left: 750px;
  position: absolute;
  top: 300px;
}
