.formSearch {
  background-image: url(../images/bgAzul1.png);
  height: 320px;
  left: 250px;
  position: relative;
  top: 0px;
  width: 1030px;
}

.inputNameSearch {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 23px;
  color: #FFFFFF;
  font-family: 'Epilogue';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 250px;
  letter-spacing: 0.03em;
  line-height: 14px;
  padding-left: 30px;
  position: absolute;
  text-transform: uppercase;
  top: 97px;
  width: 400px;
}

.buttonPesquisar {
  background: #00D5E2;
  border-radius: 23px;
  color: #FFFFFF;
  font-family: 'Epilogue';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 45px;
  left: 700px;
  letter-spacing: 0.03em;
  line-height: 14px;
  position: absolute;
  text-transform: uppercase;
  top: 97px;
  width: 114px;
}

.divArtista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
}

.naoEncontrado {
  background: #EFF3F9;
  color: #C0C3C9;
  font-family: 'Epilogue';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: 486px;
  left: 0;
  line-height: 31px;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1032px;
}

.sectionSearch {
  background: #EFF3F9;
  height: auto;
  left: 250px;
  position: absolute;
  top: 234px;
  width: 1030px;
}

.divAlbum {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.imgSearch {
  border-radius: 10px;
  height: 200px;
  left: calc(50% - 200px/2 + 463px);
  /* position: absolute; */
  top: calc(50% - 200px/2 + 114px);
  width: 200px;
}

.nameArtistSearch, .collectionPriceSearch, .collectionNameSearch, .releaseDateSearch {
  color: #3D495C;
  font-family: 'Epilogue';
  font-size: 12.0698px;
  font-style: normal;
  font-weight: 700;
  height: 18px;
  left: calc(50% - 147px/2 + 210.5px);
  line-height: 150%;
  /* position: absolute; */
  top: calc(50% - 18px/2 + 236.45px);
  width: 147px;
}

.resultadoAlbum {
  left: 350px;
  position: absolute;
}
